@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: var(--font-pretendard);
}

@keyframes spring-scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-spring-scale {
  animation: spring-scale 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform-origin: center;
  display: inline-block;
}

@keyframes rainbow {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

.rainbow-text {
  background: linear-gradient(
    45deg,
    #ff8080,
    #ffbf80,
    #ffff80,
    #80ff80,
    #8080ff,
    #a580c1,
    #c580ff,
    #ff8080
  );
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow 8s linear infinite;
  font-weight: 500;
} 